

{% extends "base.html" %}

{% block content %}
<section id="section01" class="demo">

  <h2> <button type="button" onclick="window.location.href='/instructions';" class="inline-flex items-center px-6 py-3 border border-transparent text-base font-sans rounded-md shadow-sm text-white bg-blue-900 hover:bg-blue-900 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" >Start Test</button>

   
</form>
  
  </h2>


  <a href="#section02"><span></span></a>
  
   
</section>
<section id="section02" class="demo">

  <a href="#section03"><span></span>Scroll</a>
</section>
<section id="section03" class="demo">
  
  <h4>
   <iframe width="630" height="517.5" src="https://www.youtube.com/embed/jSkwBoed6Tw">
</iframe>
  </h4>
  <a href="#section05"><span></span>Scroll</a>
</section>

</section>
<section id="section05" class="demo">
  <a href="#section06"><span></span>Scroll</a>
</section>

<section id="thanks">
  <h6>
    <a href="#section01"><span></span>Back to top</a>
  </h6>
</section>
{% endblock %}
