

{% extends "base.html" %}

{% block content %}
<section id="section01" class="demo">

  <h2> <button type="button" onclick="window.location.href='/instructions';" class="inline-flex items-center px-6 py-3 border border-transparent text-base font-sans rounded-md shadow-sm text-white bg-blue-900 hover:bg-blue-900 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" >Start Test</button>

   
</form>
  
  </h2>


  <a href="#section02"><span></span>Scroll</a>
  
   
</section>
<section id="section02" class="demo">
  <h1 style="font-size: 27px,">
    A low cost, innovative solution to at-home spirometry testing.
    </h1>
  <a href="#section03"><span></span>Scroll</a>
</section>
<section id="section03" class="demo">
  
  <h1> Spirometry
   <iframe width="420" height="345" src="https://www.youtube.com/embed/jSkwBoed6Tw">
</iframe>
  </h2>
  <a href="#section04"><span></span>Scroll</a>
</section>
<section id="section04" class="demo">
  <h2>
    <b>FVC</b>: volume of air that can forcibly be blown out after full inspiration <br></br>

  <b>FEV</b>: volume of air that can be forcibly be blown out in the first second <br></br>

  <b>FEV1/FVC</b>: ratio between FEV1 and FVC - strong indicator of lung function <br></br>

  <b>FEF</b>: speed of air exiting the lungs
    <br> </br>
    <b> We test for them all.</b>
    </h2>
  
  <a href="#section05"><span></span>Scroll</a>
  
</section>
<section id="section05" class="demo">
  <h1>Scroll Down Button #5</h1>
  <a href="#section06"><span></span>Scroll</a>
</section>

<section id="thanks">
  <div>
    <h2>Thanks!</h2>
    <p><a href="https://www.nxworld.net/css-scroll-down-button.html" target="_parent">&lt; Back To Article</a></p>
  </div>
</section>
{% endblock %}
